/CiudadanosServicesCS/obj/Debug/net9.0
/CiudadanosServicesCS/obj/Debug/net9.0
/CiudadanosServicesCS/obj/Debug
/CiudadanosServicesCS/obj
CiudadanosServicesCS/NombresPropios/Models/.DS_Store
/CiudadanosServicesCS/obj
/CiudadanosServicesCS/obj
